<div class="form-control">
<%= form_for(feed) do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :Описание, class:"col-form-label" %>
    <%= f.text_area :desk, class:"form-control"  %>
    <%= f.label :Дата_кормления, class:"col-form-label" %>
    <%= f.date_field :date, class:"form-control", value: Date.today %>
<br>
    <%= f.hidden_field :pet_id, :value => params.require(:id).to_i %>


    <%= f.submit :Записать , class: "btn btn-success" %>
  </div>
<% end %>
  <%=

  %>