
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

      <div class="form-control">
        <%= f.label :Псевдоним, class:"col-2 col-form-label" %>
        <%= f.text_field :nikname, autofocus: true, class:"col-10 form-control" %>
        <%= f.label :email, class:"col-2 col-form-label" %>
        <%= f.email_field :email, class:"col-10 form-control" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
        <%= f.label :Текущий_пароль , class:"col-2 col-form-label" %> <i>(введите пароль для подтверждения изменений)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class:"col-10 form-control" %>
        <%= f.label :Новый_пароль, class:"col-2 col-form-label" %> <i>(Оставьте пустым, если не хотите менять пароль)</i><br />
        <%= f.password_field :password, autocomplete: "off", class:"col-10 form-control" %>
        <% if @minimum_password_length %>
        <em>минимум <%= @minimum_password_length %> символов</em>
        <% end %><br>
        <%= f.label :Подтвердите_новый_пароль, class:"col-2 col-form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"col-10 form-control" %>
<br>
    <%= f.submit "Обновить", class: "btn btn-success"  %>

  <%= button_to "Удалить аккаунт", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "вы уверенны, что хотите удалить ваш аккаунт?" }, method: :delete %>

<% end %>


<br>
<br>

<%= link_to "Назад", :back %>
</div>