<div class="form-control">
  <h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <%= f.label :Псевдоним %><br />
        <%= f.text_field :nikname, autofocus: true , class:"col-10 form-control"%>
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"col-10 form-control" %>
        <%= f.label :Пароль %>
        <% if @minimum_password_length %>
        <em>(минимум <%= @minimum_password_length %> символов)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class:"col-10 form-control" %>
        <%= f.label :Подтвердите_пароль %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"col-10 form-control" %>
  <br>
    <%= f.submit "Регистрация", class: "btn btn-success" %>

  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  <br><br>

</div>