<div class="form-control">
  <%= form_for(pet) do |f| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
     <li style="color: #B00100">Поле "Имя питомца" не может быть пустым</li>

    </div>
  <% end %>

      <%= f.label :name, "Идентификатор питомца", class:"col-form-label" %>
      <%= f.text_field :name, class:"form-control" %>
      <%= f.label :species, "Вид", class:"col-form-label" %>
      <%= f.text_field :species, class:"form-control" %>

    <%= f.label :desk, "Описание", class:"col-form-label" %>
    <%= f.text_area :desk, class:"form-control" %>
    <%= f.label :bday, "День рождения питомца", class:"col-form-label" %>
    <%= f.date_field :bday, class:"form-control", value: Date.today %>
    <%= f.label :feedtimes, "Интервал кормления в днях", class:"col-form-label" %>
    <%= f.number_field(:feedtimes, in: 1..365, step: 1, value: 1, class:"form-control") %>


    <br>
    <%= f.submit :Записать , class: "btn btn-success" %>
<% end %>
</div>