<div>
  <%= form_for(post) do |f| %>
      <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this feed from being saved:</h2>

            <ul>
              <% post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <%= f.text_area :content, class:"form-control"  %>


      <%= f.hidden_field :pet_id, :value => params.require(:id).to_i %>


      <%= f.submit :Добавить_запись , class: "btn btn-success avatar" %>
      </div>
  <% end %>
