<div class="container">
  <div class="row ">
<div class="card-block col-sm-3">
  <% unless @pet.photos.last.nil? %>
      <img src="<%= @pet.photos.last.image.url(:thumb)%>" class="avatar img-thumbnail">
  <% end%>
  <ul class="list-group">
    <%= link_to 'Все фото этого питомца', pet_photos_path(@pet.id), class: "list-group-item list-group-item-success" %>
    <%= link_to 'График веса', pet_masses_path, class: "list-group-item list-group-item-success" %>

    <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>
        <%= link_to 'Добавить фото', pets_photing_path(@pet), class: "list-group-item list-group-item-success"  %>
        <%= link_to 'Редактировать анкету питомца', edit_pet_path(@pet), class: "list-group-item list-group-item-success" %>

        <%= link_to 'Удалить всю информацию о питомце', @pet, method: :delete, data: { confirm: 'Вы уверенны?' }, class: "list-group-item list-group-item-danger" %>

    <% end %>


  </ul>
</div>
    <div class="col-sm-9 ">

    <div class="col-sm-5">
          <strong>Владелец:</strong> <%= @pet.user.nikname %><br>
      <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

    <strong>Идентификатор питомца:</strong> <%= @pet.name %><br>
      <% end %>

    <strong>Пол:</strong><%= @pet.sex %><br>
    <strong>Вид: </strong><%= @pet.species %><br>
    <strong>Дата рождения питомца:</strong> <%= @pet.bday %><br>
    <strong>Интервал кормления:</strong> <%= @pet.feedtimes %> (в днях)<br>
    <strong>Описание:</strong>   <%= @pet.desk %>
  </div>
      <div class="col-sm-7">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
          <a data-toggle="collapse" data-parent="#accordion" href="#lastfeed" aria-expanded="true" aria-controls="collapseOne">
        <center>Последнее кормление <%= @pet.lastfeed%>. (нажмите, что бы посмотреть историю кормлений)
        </center>
      </a>
      <div id="lastfeed" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

        <%= link_to 'Покормить', pets_feeding_path(@pet), class: "btn btn-success btn-sm" %>
        <% end %>
        <table class="table table-inverse">
          <thead>
          <tr>
            <th>Дата кормления</th>
            <th>Дополнительная информация</th>
            <th><% render 'feeds/form', feed: Feed.new %>
            </th>

          </tr>
          </thead>
          <tbody>
          <% @pet.feeds.order(:date).reverse_order.each do |feed| %>
              <td><%= feed.date %></td>
              <td><%= feed.desk %></td>
              <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

                  <td><%= link_to 'Удалить', feed, method: :delete, data: { confirm: 'Вы уверенны?' }, class: "btn btn-danger btn-sm" %></td>
              <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>


      </div>
      </div>
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <a data-toggle="collapse" data-parent="#accordion" href="#lastwet" aria-expanded="true" aria-controls="collapseOne">
        <center>Последнее увлажнение <% if @pet.wets.last.nil? %>
              не известно
          <% else%>
              <%= @pet.wets.order(:date).last.date%>
          <%end%>.
          (нажмите, чтобы посмотреть историю увлажнений)
        </center>
      </a>
      <div id="lastwet" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <% link_to 'Увлажнить', pets_weting_path(@pet), class: "btn btn-success btn-sm" %>
        <table class="table table-inverse">
          <thead>
          <tr>
            <th>Дата увлажнения</th>
            <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

                <th><%= render 'wets/form', wet: Wet.new %>
            <% end %>


          </tr>
          </thead>
          <tbody>
          <% @pet.wets.order(:date).reverse_order.each do |wet| %>
              <td><%= wet.date %></td>

              <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

                  <td><%= link_to 'Удалить', wet, method: :delete, data: { confirm: 'Вы уверенны?' }, class: "btn btn-danger btn-sm" %></td>
              <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>


      </div>
    </div>
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
          <a data-toggle="collapse" data-parent="#accordion" href="#molting" aria-expanded="true" aria-controls="collapseOne">
            <center>
              Последняя линька
              <% if @pet.molts.last.nil? %>
                    не известна
                        <% else%>
               <%= @pet.molts.order(:date).last.date%>
              <%end%>. (нажмите, чтобы посмотреть историю линек)</center>
          </a>
          <div id="molting" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <% link_to 'Добавить линьку', pets_molting_path(@pet), class: "btn btn-success btn-sm"  %>
            <table class="table table-inverse">
              <thead>
              <tr>
                <th>Дата линьки</th>
                <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

                    <th><%= render 'molts/form', molt: Molt.new %>
                <% end %>
            </th>
              </tr>
              </thead>
              <tbody>
              <% @pet.molts.order(:date).reverse_order.each do |feed| %>
                  <td><%= feed.date %></td>

                  <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

                      <td><%= link_to 'Удалить', feed, method: :delete, data: { confirm: 'Вы уверенны?' }, class: "btn btn-danger btn-sm" %></td>
                  <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>


          </div>
        </div>

    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <a data-toggle="collapse" data-parent="#accordion" href="#problems" aria-expanded="true" aria-controls="collapseOne">
        <center>

          Последняя проблема
          <% if @pet.problems.last.nil? %>
              не известна
          <% else%>
              <%= @pet.problems.order(:date).last.date%>
          <%end%>. (нажмите, чтобы посмотреть все проблемы)</center>
      </a>
      <div id="problems" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

            <%= link_to 'Записать проблему', pets_probleming_path(@pet), class: "btn btn-success btn-sm"  %>
        <% end %>
        <table class="table table-inverse">
          <thead>
          <tr>
            <th>Дата</th>
            <th>Описание</th>
          </tr>
          </thead>
          <tbody>
          <% @pet.problems.order(:date).reverse_order.each do |problem| %>
              <td><%= problem.date %></td>
              <td><%= problem.desk %></td>
              <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>

                  <td><%= link_to 'Удалить', problem, method: :delete, data: { confirm: 'Вы уверенны?' }, class: "btn btn-danger btn-sm" %></td>
              <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>



      </div>
    </div>
  </div>
<div class="col-sm-12">
    <% if (user_signed_in? and !current_user.pets.find_by(id: params[:id]).nil?) %>
    <%= render 'postform', post: Post.new %>
    <% end %>
        <br>

    <% @pet.posts.order(:updated_at).reverse_order.each do |post| %>
        <div class="card">
          <div class="card-block">
            <h6 class="card-subtitle mb-2 text-muted">
        <%= post.updated_at.to_s(:ru_datetime)%><br>
            </h6>
<div class="card-text ">
        <%= post.content%>
</div>
            <% if User.find(Pet.find(post.pet_id).user_id) == current_user %>
        <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверенны?' }, class: "btn btn-danger btn-sm " %>
            <%end %>
                </div></div>

    <% end %>
</div>
  </div></div></div>