<div class="form-control">
  <h2>Смените ваш пароль</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
        <%= f.label :password, "Новый пароль" %><br />
        <% if @minimum_password_length %>
          <em>Минимум (<%= @minimum_password_length %> символов)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"col-10 form-control" %>

        <%= f.label :password_confirmation, "Повторите новый пароль" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"col-10 form-control" %>
      <br>
      <%= f.submit "Изменить пароль", class: "btn btn-success" %>
      <br><br>

<% end %>

<%= render "devise/shared/links" %>
  <br><br>
</div>