<div class="form-control">
  <h2>Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :Укажите_email_который_использовали_при_регистрации, class:"col-2 col-form-label" %><br>
    <%= f.email_field :email, autofocus: true, class:"col-10 form-control" %>
 <br>
    <%= f.submit "Сбросить пароль", class: "btn btn-success" %>
  <br/>
<% end %>
  <br/>
<%= render "devise/shared/links" %>
  <br/><br/>
</div>