<div class="form-control">
  <%= form_for(mass) do |f| %>
  <% if mass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mass.errors.count, "error") %> prohibited this mass from being saved:</h2>

      <ul>
      <% mass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :date, "Дата взвешивания", class:"col-form-label"  %>
    <%= f.date_field :date, class:"form-control", value: Date.today %>
    <%= f.label :mass, "Вес в граммах", class:"col-form-label"  %>
    <%= f.number_field :mass, class:"form-control", value: 0%>
    <%= f.hidden_field :pet_id, :value =>  params.require(:id).to_i %>
    <%= f.submit :Записать, class: "btn btn-success"%>

<% end %>
</div>