<%if user_signed_in? %>
<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <%= link_to "MY EXO PETS", root_path, class: "navbar-brand textlogo" %>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav float-xs-right">
      <li class="nav-item">


      </li>
      <li class="nav-item">
<%= link_to "О проекте", pages_about_path, class: "nav-link"  %>

      </li>
       <li class="nav-item">
<%= link_to "Редактировать профиль", edit_user_registration_path, method: :get, class: "nav-link"  %>

      </li>
  <li class="nav-item">
<%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link"  %>

      </li>
    </ul>

  </div>
</nav>

<%else%>

<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <%= link_to "MY EXO PETS", root_path, class: "navbar-brand textlogo" %>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav float-xs-right">
      <li class="nav-item">


      </li>
      <li class="nav-item">
<%= link_to "О проекте", pages_about_path, class: "nav-link"  %>

      </li>
  <li class="nav-item">
<%= link_to "Вход", new_user_session_path, class: "nav-link"  %>

      </li>
    </ul>

  </div>
</nav>

<%end%>
