<!DOCTYPE html>
<html>
  <head>
    <title>Myexopets - удобный дневник для владельцев экзотических животных. </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid container-background">
    <%unless user_signed_in? %><div class="container"><% end%>
  <%= render "layouts/navigation" %>
    <div class="jumbotron">
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
    <%unless user_signed_in? %></div><% end%>
    </div>
  </body>
</html>
